import(vegan)
import(ggplot2)
import(ape)
import(parallel)
import(foreach)
import(iterators)
import(doParallel)
import(GUniFrac)
import(doSNOW)
importFrom("stats", "as.dist", "median", "quantile")

export(looPA)  
